# MongoDB
MONGO_USER=admin
MONGO_PASSWORD=tu_password_aqui
MONGO_DB=gasolinaiq
MONGO_URI=mongodb://admin:tu_password_aqui@localhost:27017/gasolinaiq

# Google Places API
GOOGLE_PLACES_API_KEY=tu_api_key_aqui

# EIA (precio WTI)
EIA_API_KEY=tu_api_key_aqui

# BANXICO
BANXICO_TOKEN=tu_token_aqui